.gameboard-slot {
  width: 80px;
  height: 80px;
  border: 2px solid gray;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.row {
  display: flex;
  flex-direction: row;
}

.keyboard-key {
  width: 50px;
  height: 80px;
  border: 2px solid gray;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.1s;
}

.keyboard-key:hover {
  background: rgb(196, 196, 196);
}
