.App {
  margin: auto;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.tile {
  width: 80px;
  height: 80px;
  margin: 0px 4px 8px 4px;
  border: 2px solid gray;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  box-sizing: border-box;
}

.transform {
  animation: transform 0.1s ease-in;
}

@keyframes transform {
  0% {
    transform: scale(95%, 95%);
  }
  60% {
    transform: scale(105%, 105%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.keyboard {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key {
  width: 50px;
  height: 70px;
  margin: 2px;
  border: 2px solid gray;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.1s;
  font-size: 1rem;
  cursor: pointer;
}

.key:hover {
  background: rgb(196, 196, 196);
}

.green {
  border: 2px solid rgb(128, 187, 52);
  background: rgb(128, 187, 52);
  color: white;
}

.yellow {
  border: 2px solid rgb(221, 185, 23);
  background: rgb(221, 185, 23);
  color: white;
}

.gray {
  border: 2px solid rgb(163, 163, 163);
  background: rgb(163, 163, 163);
  color: white;
}

.key.green:hover {
  background: rgb(87, 175, 47);
  border: 2px solid rgb(87, 175, 47);
}

.key.yellow:hover {
  background: rgb(209, 158, 17);
  border: 2px solid rgb(209, 158, 17);
}

.key.gray:hover {
  background: rgb(148, 148, 148);
  border: 2px solid rgb(148, 148, 148);
}

.stats-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-btn {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-end;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.stats-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.stat {
  font-size: 2.5rem;
}

.stat-label {
  text-align: center;
  word-wrap: break-word;
}

.distribution {
  width: 80%;
  margin: 1rem auto;
}

.bar-wrapper {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
}

.bar {
  color: white;
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  padding: 0px 6px;
  margin-left: 4px;
  line-height: 120%;
  box-sizing: border-box;
  min-width: 5%;
}

.countdown-share-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.countdown-container {
  border-right: 1px solid gray;
}

.countdown-container,
.share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 50%;
  font-weight: bold;
}

.countdown {
  font-size: 2.5rem;
}

.share {
  color: white;
  width: 75%;
  height: 50%;
  font-size: 1.5rem;
  border: 0px;
  background-color: rgb(128, 187, 52);
  cursor: pointer;
  transition-duration: 0.1s;
}

.share:hover {
  background: rgb(87, 175, 47);
}
