.App {
  margin: auto;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

.transform {
  animation: transform 0.1s ease-in;
}

@keyframes transform {
  0% {
    transform: scale(95%, 95%);
  }
  60% {
    transform: scale(105%, 105%);
  }
  100% {
    transform: scale(100%, 100%);
  }
}

.bounce {
  animation: bounce 1s ease;
  transform-origin: center bottom;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-18px);
  }
}

.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile {
  width: 70px;
  height: 70px;
  margin: 0px 4px 8px 4px;
  border: 2px solid #bfc1c2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  box-sizing: border-box;
  font-weight: bold;
  color: rgb(75, 75, 75);
}

.invalid {
  border: 2px solid #eb4b4bb2;
  box-shadow: 0px 0px 2px #eb4b4bb2;
}

.keyboard {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key {
  width: 50px;
  height: 70px;
  margin: 3px;
  background-color: #cdd0d1;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.1s;
  font-size: 1rem;
  cursor: pointer;
  border: 0px;
}

.key:hover {
  background: #aeb0b1;
}

.green {
  border: 2px solid #80bb34;
  background: #80bb34;
  color: white;
  border: 0px;
}

.yellow {
  border: 2px solid #ddb917;
  background: #ddb917;
  color: white;
  border: 0px;
}

.gray {
  border: 2px solid #919292;
  background: #919292;
  color: white;
  border: 0px;
}

.key.green:hover,
.copy-btn:hover {
  background: #57af2f;
}

.key.yellow:hover,
.import-btn:hover {
  background: #d19e11;
}

.reset-btn:hover {
  background: #ca3434;
}

.key.gray:hover {
  background: #828383;
}

.stats-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay {
  animation: fadeIn 0.15s ease-in;
}

.ReactModal__Overlay--before-close {
  animation: fadeOut 0.15s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
    transform: translateY(0);
  }
  to {
    opacity: 0%;
    transform: translateY(20px);
  }
}

.close-btn {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-end;
}

h3 {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.stats-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
}

.stat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.stat {
  font-size: 2.5rem;
}

.stat-label {
  text-align: center;
  word-wrap: break-word;
}

.distribution {
  width: 80%;
  margin: 1rem auto;
}

.bar-wrapper {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
}

.bar {
  color: white;
  background-color: gray;
  display: flex;
  justify-content: flex-end;
  padding: 0px 6px;
  margin-left: 4px;
  line-height: 120%;
  box-sizing: border-box;
  min-width: 5%;
}

.countdown-share-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.countdown-container {
  border-right: 1px solid gray;
}

.countdown-container,
.share-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 50%;
  font-weight: bold;
}

.countdown {
  font-size: 2.5rem;
}

.share {
  color: white;
  width: 75%;
  height: 50%;
  font-size: 1.5rem;
  border: 0px;
  background-color: #80bb34;
  cursor: pointer;
  transition-duration: 0.1s;
  border-radius: 4px;
}

.share:hover {
  background: #57af2f;
}

.win-message {
  display: flex;
  width: 150px;
  height: 40px;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #cdd0d1;
  font-weight: bold;
}

.rules-modal,
.options-modal {
  display: flex;
  flex-direction: column;
}

.rules-modal h3 {
  margin-bottom: 1rem;
}

.rules-modal p {
  margin-top: 0px;
}

hr {
  width: 100%;
  background-color: #c2c2c2;
  border: 0px;
  height: 1px;
}

.options-modal hr {
  margin: 18px 0px;
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label-container {
  display: flex;
  flex-direction: column;
}

.option-label {
  font-size: 1.3rem;
}

.option-description {
  font-size: 0.8rem;
  color: gray;
}

textarea {
  width: 100%;
}

.import-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copy-btn,
.import-btn,
.reset-btn {
  width: 20%;
  height: 2rem;
  font-size: 1rem;
  border: 0px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition-duration: 0.1s;
}

.copy-btn {
  background-color: #80bb34;
}

.import-btn {
  background-color: #ddb917;
}

.reset-btn {
  background-color: rgb(230, 66, 66);
}
